<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" placeholder="E-mail Address" class="form-control"
                            formControlName="email" />
                        <div *ngIf="!f.email.valid && (f.email.dirty || f.email.touched)" class="text-danger">
                            <div [hidden]="!f.email.errors?.['required']">
                                *email is required
                            </div>
                            <div [hidden]="!f.email.errors?.['email']">
                                *Invalid email id
                            </div>
                        </div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" placeholder="password" class="form-control"
                            formControlName="password" />
                        <div *ngIf="!f.password.valid && (f.password.dirty || f.password.touched)" class="text-danger">
                            <div [hidden]="!f.password.errors?.['required']">
                                *password is required
                            </div>
                            <div [hidden]="!f.password.errors?.['pattern']">
                                *Only characters are allowed
                            </div>
                            <div *ngIf="!f.password.errors?.['minLength']">
                                *The length should be minimum {{f.password.errors?.['minlength']?.['requiredLength']}}
                            </div>

                        </div>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox" name="checkbox"
                                    formControlName="checkbox" />
                                <label class="form-check-label" for="checkbox">Remember Me</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Simple link -->
                            <a href=" # ">Forgot password ?</a>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block mb-4">Sign
                        in</button>

                    <!-- Register buttons-->
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
